In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("19062018_dataset_cleaned.csv")

In [3]:
def recode_diag(diag_input):
    try:
        diag = diag_input
        print(diag)
        rules_1 = [diag >= 390 and diag <= 459,diag == 785]
        rules_2 = [diag >= 460 and diag <= 519,diag == 786]
        rules_3 = [diag >= 520 and diag <= 579, diag == 787]
        rules_4 = [diag > 250 and diag < 251]
        rules_5 = [diag >= 800 and diag <= 999]
        rules_6 = [diag >= 710 and diag <= 793]
        rules_7 = [diag >= 580 and diag<= 629, diag == 788]
        rules_8 = [diag >= 140 and diag <= 239, diag == 780, diag == 781, diag == 784, diag >= 790 and diag <= 799,
        diag >= 240 and diag <= 279, diag != 250, diag >= 680 and diag <= 709, diag == 782, diag >= 1 and diag <= 139]
        rules_9 = [diag >= 290 and diag <= 319, diag >= 289 and diag <= 289, diag >= 320 and diag <= 359, diag >= 630 and diag <= 679,
        diag >= 360 and diag <= 389, diag >= 740 and diag <= 759]
        if all(rules_1):
            diag_1_new = 1
        elif all(rules_2):
            diag_1_new = 2
        elif all(rules_3):
            diag_1_new = 3
        elif all(rules_4):
            diag_1_new = 4
        elif all(rules_5):
            diag_1_new = 5
        elif all(rules_6):
            diag_1_new = 6
        elif all(rules_7):
            diag_1_new = 7
        elif all(rules_8):
            diag_1_new = 8
        elif all(rules_9):
            diag_1_new = 9
        else:
            diag_1_new = 9
        return diag_1_new
    except:
            return diag_input

In [4]:
df = data.copy()
import numpy as np
# create a duplicate of the diagnosis column
df['level1_diag1'] = df['diag_1']
# disease codes starting with V or E are in “other” category; so recode them to 0
df.loc[df['diag_1'].str.contains('V'), ['level1_diag1']] = 0
df.loc[df['diag_1'].str.contains('E'), ['level1_diag1']] = 0
# also replace the unknown values with -1
df['level1_diag1'] = df['level1_diag1'].replace('?', -1)
df['level1_diag1'] = pd.to_numeric(df['level1_diag1'])
# iterate and recode disease codes between certain ranges to certain categories
for index, row in df.iterrows():
    if (row['level1_diag1'] >= 390 and row['level1_diag1'] < 460) or (np.floor(row['level1_diag1']) == 785):
        df.loc[index, 'level1_diag1'] = 1
    elif (row['level1_diag1'] >= 460 and row['level1_diag1'] < 520) or (np.floor(row['level1_diag1']) == 786):
        df.loc[index, 'level1_diag1'] = 2
    elif (row['level1_diag1'] >= 520 and row['level1_diag1'] < 580) or (np.floor(row['level1_diag1']) == 787):
        df.loc[index, 'level1_diag1'] = 3
    elif (np.floor(row['level1_diag1']) == 250):
        df.loc[index, 'level1_diag1'] = 4
    elif (row['level1_diag1'] >= 800 and row['level1_diag1'] < 1000):
        df.loc[index, 'level1_diag1'] = 5
    elif (row['level1_diag1'] >= 710 and row['level1_diag1'] < 740):
        df.loc[index, 'level1_diag1'] = 6
    elif (row['level1_diag1'] >= 580 and row['level1_diag1'] < 630) or (np.floor(row['level1_diag1']) == 788):
        df.loc[index, 'level1_diag1'] = 7
    elif (row['level1_diag1'] >= 140 and row['level1_diag1'] < 240):
        df.loc[index, 'level1_diag1'] = 8
    else:
        df.loc[index, 'level1_diag1'] = 0
# convert this variable to float type to enable computations later
df['level1_diag1'] = df['level1_diag1'].astype(float)

In [5]:
print(repr(df['level1_diag1']))

0        1.0
1        6.0
2        5.0
3        0.0
4        7.0
        ...
69985    0.0
69986    7.0
69987    2.0
69988    0.0
69989    3.0
Name: level1_diag1, Length: 69990, dtype: float64

In [6]:
data.dtypes

Unnamed: 0                   int64
encounter_id                 int64
patient_nbr                  int64
race                        object
gender                      object
age                         object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
readmitted                   int64
dtype: object

In [7]:
df['A1Cresult'] = df['A1Cresult'].replace('>7', 1)
df['A1Cresult'] = df['A1Cresult'].replace('>8', 1)
df['A1Cresult'] = df['A1Cresult'].replace('Norm', 0)
df['A1Cresult'] = df['A1Cresult'].replace('None', -99)

In [8]:
df = df.drop(['citoglipton', 'examide'], axis = 1)

In [9]:
len(df.columns)

48

In [10]:
len(df)

69990

In [11]:
df.head()

,Unnamed: 0,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,level1_diag1
0,0,24437208,4267,Caucasian,Female,[50-60),2,1,1,8,...,Steady,No,No,No,No,No,Ch,Yes,1,1.0
1,1,29758806,5827,Caucasian,Female,[50-60),3,1,1,2,...,No,No,No,No,No,No,No,No,0,6.0
2,2,189899286,67608,Caucasian,Female,[80-90),1,3,7,4,...,No,No,No,No,No,No,No,Yes,0,5.0
3,3,64331490,17494,Caucasian,Female,[80-90),1,1,7,3,...,No,No,No,No,No,No,Ch,Yes,0,0.0
4,4,14824206,2270,AfricanAmerican,Female,[30-40),1,1,7,5,...,No,No,No,No,No,No,No,Yes,0,7.0

In [12]:
keys = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'glipizide', 'glyburide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'insulin', 'glyburide-metformin', 'tolazamide', 'metformin-pioglitazone','metformin-rosiglitazone', 'glimepiride-pioglitazone', 'glipizide-metformin', 'troglitazone', 'tolbutamide', 'acetohexamide']
for col in keys:
    colname = str(col) + 'temp'
    df[colname] = df[col].apply(lambda x: 0 if (x == 'No' or x == 'Steady') else 1)

In [13]:
df.head()

,Unnamed: 0,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,insulintemp,glyburide-metformintemp,tolazamidetemp,metformin-pioglitazonetemp,metformin-rosiglitazonetemp,glimepiride-pioglitazonetemp,glipizide-metformintemp,troglitazonetemp,tolbutamidetemp,acetohexamidetemp
0,0,24437208,4267,Caucasian,Female,[50-60),2,1,1,8,...,0,0,0,0,0,0,0,0,0,0
1,1,29758806,5827,Caucasian,Female,[50-60),3,1,1,2,...,0,0,0,0,0,0,0,0,0,0
2,2,189899286,67608,Caucasian,Female,[80-90),1,3,7,4,...,0,0,0,0,0,0,0,0,0,0
3,3,64331490,17494,Caucasian,Female,[80-90),1,1,7,3,...,0,0,0,0,0,0,0,0,0,0
4,4,14824206,2270,AfricanAmerican,Female,[30-40),1,1,7,5,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df.columns

Index(['Unnamed: 0', 'encounter_id', 'patient_nbr', 'race', 'gender', 'age',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'medical_specialty', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient', 'diag_1', 'diag_2', 'diag_3',
       'number_diagnoses', 'max_glu_serum', 'A1Cresult', 'metformin',
       'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride',
       'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'insulin', 'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted',
       'level1_diag1', 'metformintemp', 'repaglinidetemp', 'nateglinidetemp',
       'chlorpropamidetemp', 'glimepiridetemp', 'glipizidetemp',
       'glyburidetemp', 'pioglitazonetemp', 'rosiglitazonetemp',
       'acarbosetemp', 'miglitoltemp', 'insulintemp',
       'glyburide-metformintemp', 'tolazamidetemp',
       'metformin-pioglitazonetemp', 'metformin-rosiglitazonetemp',
       'glimepiride-pioglitazonetemp', 'glipizide-metformintemp',
       'troglitazonetemp', 'tolbutamidetemp', 'acetohexamidetemp'],
      dtype='object')

In [15]:
df['change'] = df['change'].replace('Ch', 1)
df['change'] = df['change'].replace('No', 0)
df['gender'] = df['gender'].replace('Male', 1)
df['gender'] = df['gender'].replace('Female', 0)
df['diabetesMed'] = df['diabetesMed'].replace('Yes', 1)
df['diabetesMed'] = df['diabetesMed'].replace('No', 0)

In [16]:
age_dict = {'[0-10)':5, '[10-20)':15, '[20-30)':25, '[30-40)':35, '[40-50)':45, '[50-60)':55, '[60-70)':65, '[70-80)':75, '[80-90)':85, '[90-100)':95}
df['age'] = df.age.map(age_dict)
df['age'] = df['age'].astype('int64')

In [17]:
df.head()

,Unnamed: 0,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,insulintemp,glyburide-metformintemp,tolazamidetemp,metformin-pioglitazonetemp,metformin-rosiglitazonetemp,glimepiride-pioglitazonetemp,glipizide-metformintemp,troglitazonetemp,tolbutamidetemp,acetohexamidetemp
0,0,24437208,4267,Caucasian,0,55,2,1,1,8,...,0,0,0,0,0,0,0,0,0,0
1,1,29758806,5827,Caucasian,0,55,3,1,1,2,...,0,0,0,0,0,0,0,0,0,0
2,2,189899286,67608,Caucasian,0,85,1,3,7,4,...,0,0,0,0,0,0,0,0,0,0
3,3,64331490,17494,Caucasian,0,85,1,1,7,3,...,0,0,0,0,0,0,0,0,0,0
4,4,14824206,2270,AfricanAmerican,0,35,1,1,7,5,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df['race'].unique()

array(['Caucasian', 'AfricanAmerican', 'Hispanic', '?', 'Asian', 'Other'],
      dtype=object)

In [19]:
df['gender'] = df['gender'].replace('?', -1)

In [20]:
race_dict = {'Caucasian':1, 'AfricanAmerican':2, 'Hispanic':3, '?':-1, 'Asian':4, 'Other' : 5}
df['race'] = df['race'].map(race_dict)

In [21]:
df['race'] = df['race'].astype('int64')

In [22]:
df['gender'] = df['gender'].replace('Unknown/Invalid',-1)

In [23]:
df.dtypes

Unnamed: 0                      int64
encounter_id                    int64
patient_nbr                     int64
race                            int64
gender                          int64
                                ...
glimepiride-pioglitazonetemp    int64
glipizide-metformintemp         int64
troglitazonetemp                int64
tolbutamidetemp                 int64
acetohexamidetemp               int64
Length: 69, dtype: object

In [24]:
df.head()

,Unnamed: 0,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,insulintemp,glyburide-metformintemp,tolazamidetemp,metformin-pioglitazonetemp,metformin-rosiglitazonetemp,glimepiride-pioglitazonetemp,glipizide-metformintemp,troglitazonetemp,tolbutamidetemp,acetohexamidetemp
0,0,24437208,4267,1,0,55,2,1,1,8,...,0,0,0,0,0,0,0,0,0,0
1,1,29758806,5827,1,0,55,3,1,1,2,...,0,0,0,0,0,0,0,0,0,0
2,2,189899286,67608,1,0,85,1,3,7,4,...,0,0,0,0,0,0,0,0,0,0
3,3,64331490,17494,1,0,85,1,1,7,3,...,0,0,0,0,0,0,0,0,0,0
4,4,14824206,2270,2,0,35,1,1,7,5,...,0,0,0,0,0,0,0,0,0,0

In [25]:
df = df.drop(['Unnamed: 0'],axis=1)

In [26]:
# df.to_csv("20062018_cleanest_dataset_v2.csv", sep=',', index=False)

In [27]:
import numpy as np
from sklearn.model_selection import train_test_split

In [28]:
keys = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'glipizide', 'glyburide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'insulin', 'glyburide-metformin', 'tolazamide', 'metformin-pioglitazone','metformin-rosiglitazone', 'glimepiride-pioglitazone', 'glipizide-metformin', 'troglitazone', 'tolbutamide', 'acetohexamide']
for col in keys:
    df[col] = df[col].replace("Steady", 1)
    df[col] = df[col].replace("Down", 1)
    df[col] = df[col].replace("Up", 1)
    df[col] = df[col].replace("No", 0)

In [51]:
feature = ["race","gender","age", "admission_type_id", "discharge_disposition_id", 
           #'chlorpropamide','tolazamide', 'metformin-pioglitazone','glipizide-metformin', 'troglitazone', 'tolbutamide', 'acetohexamide','metformin-rosiglitazone', 'glimepiride-pioglitazone', 'miglitol', 'insulin', 'glyburide-metformin','glyburide', 'pioglitazone', 'rosiglitazone', 'acarbose','glimepiride', 'glipizide',"nateglinide","repaglinide",
           "number_inpatient", "admission_source_id", "time_in_hospital", "change", "A1Cresult", "number_diagnoses", "diabetesMed",'metformin', "num_procedures", "num_medications", "number_outpatient", "number_emergency"]
X = df[feature].values
y = df[["readmitted"]].values

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [53]:
df[feature]

,race,gender,age,admission_type_id,discharge_disposition_id,number_inpatient,admission_source_id,time_in_hospital,change,A1Cresult,number_diagnoses,diabetesMed,metformin,num_procedures,num_medications,number_outpatient,number_emergency
0,1,0,55,2,1,0,1,8,1,-99,8,1,1,6,33,0,0
1,1,0,55,3,1,0,1,2,0,-99,3,0,0,1,11,0,0
2,1,0,85,1,3,0,7,4,0,1,9,1,1,2,23,0,0
3,1,0,85,1,1,0,7,3,1,1,9,1,1,0,20,0,0
4,2,0,35,1,1,0,7,5,0,-99,3,1,0,0,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69985,1,0,85,1,1,0,7,1,0,-99,9,0,0,1,11,0,0
69986,5,1,65,1,1,0,7,3,0,-99,7,1,0,1,8,0,0
69987,1,0,85,1,1,0,7,3,1,-99,9,1,1,0,18,0,0
69988,1,0,45,1,4,0,7,14,1,1,5,1,1,0,16,0,0
69989,1,1,45,2,1,0,1,5,1,-99,8,1,0,4,23,0,0

In [54]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()

In [55]:
clf = clf.fit(X_train,y_train)

In [56]:
pred = clf.predict(X_test)

In [57]:
from sklearn.metrics import classification_report

In [58]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.91      0.89      0.90     21000
           1       0.12      0.15      0.13      2097

    accuracy                           0.82     23097
   macro avg       0.52      0.52      0.52     23097
weighted avg       0.84      0.82      0.83     23097

In [59]:
from sklearn.ensemble import RandomForestClassifier

In [60]:
rfc = RandomForestClassifier(n_estimators=30,n_jobs=-1)

In [61]:
rfc = rfc.fit(X_train,y_train)
pred_rfc = rfc.predict(X_test)

<ipython-input-61-683aa38dddde>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc = rfc.fit(X_train,y_train)

In [62]:
print(classification_report(y_test,pred_rfc))

              precision    recall  f1-score   support

           0       0.91      1.00      0.95     21000
           1       0.06      0.00      0.00      2097

    accuracy                           0.91     23097
   macro avg       0.49      0.50      0.48     23097
weighted avg       0.83      0.91      0.86     23097

In [40]:
from sklearn.model_selection import cross_validate
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

In [41]:
scoring=['precision','recall']

In [42]:
scores = cross_validate(clf, X, y, scoring=scoring, cv=5, return_train_score=False)

In [43]:
scores

{'fit_time': array([0.47399473, 0.46400166, 0.52401519, 0.50999713, 0.48000216]),
 'score_time': array([0.01203561, 0.01803398, 0.01301384, 0.01203656, 0.01400757]),
 'test_precision': array([0.10891813, 0.10126582, 0.13426219, 0.12933407, 0.1212485 ]),
 'test_recall': array([0.1185362 , 0.14001591, 0.16865553, 0.18695306, 0.16070008])}

In [44]:
scores["test_recall"].mean()

0.15497215592680985

In [45]:
scores["test_precision"].mean()

0.1190057418486951

In [46]:
rfc.feature_importances_

array([4.32748180e-02, 3.41808773e-02, 8.38441910e-02, 5.13451841e-02,
       6.00318410e-02, 2.52672726e-04, 1.77094276e-04, 0.00000000e+00,
       7.73177588e-06, 3.28890379e-05, 2.47457287e-04, 9.15503937e-06,
       2.21387588e-06, 0.00000000e+00, 1.10096395e-04, 1.86801265e-02,
       2.10713907e-03, 1.51182765e-02, 1.29134376e-02, 1.20043305e-02,
       1.11197505e-03, 1.07581141e-02, 1.78032651e-02, 1.91524653e-03,
       3.93760227e-03, 2.88434034e-02, 4.36035315e-02, 1.03673646e-01,
       2.12533693e-02, 2.88314188e-02, 7.31374818e-02, 8.71369940e-03,
       1.99473595e-02, 7.92898943e-02, 1.73042904e-01, 3.10508884e-02,
       1.87466686e-02])

In [47]:
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

ModuleNotFoundError: No module named 'sklearn.externals.six'

In [ ]:
dot_data = StringIO()
export_graphviz(clf, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True)

In [ ]:
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph.create_png())